<h1>Edit <%= @figure.name %></h1>



<form action=<%= "/figures/#{@figure.id}/edit" %> method="post">
  <label>Figure Name: <input id="figure_name" type="text" name="figure[name]" value=""></label><br>
  <h2>Landmarks</h2>
  <label for="landmark">Change Landmarks:<br>
    <% Landmark.all.each do |landmark|%>
      <label><%="#{landmark.name}"%><input id=<%="#{landmark.name}"%> type="checkbox" name="figure[landmark_ids]" value=<%="#{landmark.id}"%> <%='checked' if @figure.landmarks.include?(landmark) %>></label>
    <% end %>
    <br>
    <p>Or Create a Landmark: <input id="new_landmark" type="text" name="landmark[name]" value=""></p>
  </label>
<h2>Titles</h2>
  <label for="title"><p>Change Titles:</p>
    <% Title.all.each do |title|%>
      <label><%="#{title.name}"%><input id=<%="#{title.id}"%> type="checkbox" name="figure[title_ids]" value=<%="#{title.id}"%><%='checked' if @figure.titles.include?(title) %>></label>
    <% end %>

    <p>Or Create a Title: <input id="new_title" type="text" name="title[name]" value=""></p>

  </label>
  <input type="submit" name="submit" value="Edit Figure">
</form>
