<h1>Create a New Figure</h1>


<form action="/figures/new" method="post">
  <label>Figure Name: <input id="figure_name" type="text" name="figure[name]" value="figure[name]"></label>
  <label for="landmark">Choose a Landmark:<br>
    <% @landmarks.each do |landmark|%>
      <label><%="landmark_#{Landmark.first.id}"%><input id=<%="#{landmark.name}"%> type="checkbox" name="figure[landmark_ids][]" value=<%="#{landmark.id}"%>></label>
    <% end %>
    <br>
    <p>Or Create a Landmark:</p><br>
    <input id="new_landmark" type="text" name="landmark[name]" value="">
  </label>

  <label for="title">Choose a Title:<br>
    <% @titles.each do |title|%>
      <label><%="title_#{Title.first.id}"%><input id=<%="#{title.id}"%> type="checkbox" name="figure[title_ids][]" value=<%="#{title.id}"%>></label>
    <% end %>

    <p>Or Create a Title:</p><br>
    <input id="new_title" type="text" name="title[name]" value="">
  </label>
  <input type="submit" name="submit" value="Create New Figure">
</form>
